.dark{
    background-color: blueviolet;
  }
  .container{
    width:15em;
    margin:0 0.2em;
    float:left;
    
  }
  .pic{
    width: 200px;
    position: relative;
  }
  .pic img{
    width: 100%;
  }
  .title{
    font-weight: bold;
    margin-bottom: 1em;
    color: white;
  }
  .channel, .views{
    font-size: small;
    /* color: #ccc; */
    margin-bottom: 0.2em;
    color: white;
  }
  .views span{
    padding:0.2em;
  }
  .close{
    position:absolute;
    right:0px;
    border: none;
  }
  .edit{
    position: absolute;
    right: 3em;border: none;
  }
  